/* ==========================================================================
   Asphalt skin
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$text-color: #222831 !default;
$primary-color: #3F536B !default;
$border-color: mix(#fff, #4F7C58, 75%) !default;
$footer-background-color: #C3D0D6 !default;
$form-background-color: $footer-background-color !default;
$form-legend-color: $background-color !default;
$masthead-link-color: #3F536B !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$success-color              : #4F7C58 !default;
$warning-color              : #D9745E !default;
$danger-color               : #8C5B52 !default;
$info-color                 : #3F536B !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
