/* ==========================================================================
   Asphalt skin
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$text-color: #222831 !default;
$primary-color: #546375 !default;
$border-color: mix(#fff, #5B6E5C, 75%) !default;
$footer-background-color: #ACB9BF !default;
$form-background-color: $footer-background-color !default;
$form-legend-color: $background-color !default;
$masthead-link-color: #546375 !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$success-color              : #5B6E5C !default;
$warning-color              : #e67e22 !default;
$danger-color               : #725857 !default;
$info-color                 : #546375 !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
