---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      {% if paginator and paginator.page == 1 %}
          {{ content }}
      {% elsif paginator and paginator.page > 1 %}
      {% else %}
        {{ content }}
      {% endif %}
    </section>
  </article>

  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign unpinned = "" | split: ',' %}
  {% for post in posts %}
    {% unless post.tags contains 'pinned' %}
      {% assign unpinned = unpinned | push: post %}
    {% endunless %}
  {% endfor %}
  {% assign posts = unpinned %}

  {% if page.show_pinned == true and paginator.page == 1 %}
    {% assign pinnedposts = site.tags.pinned %}
    {% assign posts = pinnedposts | concat: posts %}
  {% endif %}

  {% assign entries_layout = page.entries_layout | default: 'list' %}
  
  {% if posts.size >= 1 %}
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  {% endif %}

  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
      {% unless post.hidden %}
        {% include archive-single.html type=entries_layout %}
      {% endunless %}
    {% endfor %}
  </div>

  {% include paginator.html %}
</div>
